html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Poppins","Arial",sans-serif;
    background-color: #ffffff;
    color: #000000;
    background-image: url("../img/main.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}


h1,h2,h3,h4,h5,h6,p,ul,li,a {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1480px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}




   /*Page main styles*/
.page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.page-main__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/*Page main left styles*/
.page-main__left {
    width: 50%;
    height: 100vh;
    padding-top: 94px;
    padding-left: 90px;
}

.page-main__header {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}




.page-main__webtime {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 265px;
    padding: 10px 18px;
    margin-right: 30px;
    border-radius: 50px;
    background-color: #7019ff;
}

.page-main__day {
    margin-left: 12px;
    margin-right: 12px;
}


.page-main__line {
    height: 21px;
    width: 1px;
    background-color:rgba(255, 255, 255, 0.20);
    margin-right: 12px;
}

.page-main__day, .page-main__clock {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}


.page-main__headtext strong {
    color: #7019ff;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}

.page-main__headtext span {
    color: #000000;
}

.page-main__headtext p {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}


.page-main__title {
    margin-bottom: 65px;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
}

.page-main__confirmation h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.page-main__list {
    margin-bottom: 65px;
}


.page-main__item {
    display: flex;
    align-items: center;
}

.page-main__item:not(:last-child) {
    margin-bottom: 18px;
}

.page-main__item img {
    margin-right: 18px;
}

.page-main__item p {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.page-main__reception {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 499px;
    height: 91px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 0;
    background-color: #ef0978;
    cursor: pointer;
    white-space: nowrap;
}

.page-main__reception:hover {
    opacity: 0.8;
}

.page-main__reception:active {
    opacity: 0.6;
}

.page-main__reception  span {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    text-transform: uppercase;
}

/*Page main right styles*/
.page-main__right {
    display: none;
    width: 100%;


}

.page-main__right img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    max-width: 100%;

}



.page-main__info {
    position: absolute;
    top: 735px;
    left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    max-width: 338px;
    height: 96px;
    padding: 25px 64px;
    transform: rotate(8deg);
    flex-shrink: 0;
    border-radius: 48px;
    background: #7019ff;
}

.page-main__info strong {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}

.page-main__info p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}



/*Modal styles*/

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 46, 74, 0.5);

}

.modal-container--open {
    display: block;
}

.modal-container__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-container__content  {
    position: relative;
    width: 100%;
    max-width: 510px;
    max-height: 465px;
    background-color: #fff;
    border-radius: 18px;
    padding: 40px;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;

}
.modal-container__closer {
     position: absolute;
     top: 22px;
     right: 21px;
     background-color: transparent;
     border: 0;
     cursor: pointer;
}

.modal-container__content h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 132%;
}

.modal-container__span {
    color: #7019ff;
}

.modal-container__content p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 132%;
    margin-bottom: 14px;
}



.form-inner {
    margin-bottom: 24px;
}

form span {
    display: block;
    margin-bottom: 10px;
}


.form-input {
    width: 100%;
    max-width: 428px;
    height: 48px;
    padding: 18px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #bed4da;
    background: #f3f7f8;
}

.form-button {
    flex-grow: 1;
    width: 100%;
    max-width: 428px;
    height: 54px;
    padding: 15px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 0;
    background-color: #ef0978;
    cursor: pointer;

}

.form-button:hover {
    opacity: 0.8;
}

.form-button:active {
    opacity: 0.6;
}

.form-button span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
     white-space: nowrap;
}



@media only screen and (max-height: 1921px) {
    .container {
        max-width: 1640px;
    }

}
@media only screen and (max-width: 1450px) {
    .container {
        max-width: 1440px;
    }

    .page-main__title {
        margin-bottom: 50px;
        font-size: 32px;

    }

    .page-main__confirmation h2 {
        margin-bottom: 20px;
        font-size: 18px;

    }

    .page-main__list {
        margin-bottom: 50px;
    }

    .page-main__reception {
        max-width: 399px;
        height: 71px;
        padding: 12px 24px;

    }

    .page-main__reception  span {
        font-size: 20px;
    }


}

@media  only screen and (max-width: 1330px) {
    body {
        background-size: contain;
        background-position: center top;
    }
}




@media  only screen and (max-width: 1250px) {
    .container {
        max-width: 1340px;
    }

    .page-main__left {
        padding-top: 74px;
        padding-left: 70px;
    }

    .page-main__title {
        margin-bottom: 35px;
        font-size: 32px;

    }

    .page-main__confirmation h2 {
        margin-bottom: 20px;
        font-size: 18px;

    }

    .page-main__list {
        margin-bottom: 35px;
    }

    .page-main__reception {
        max-width: 349px;
        height: 71px;
        padding: 12px 24px;

    }

    .page-main__reception  span {
        font-size: 20px;
    }

    .page-main__info strong {
        font-size: 20px;

    }

    .page-main__info p {
        font-size: 16px;

    }
}

@media  only screen and (max-width: 1210px) {
    .container {
        max-width: 1340px;
    }

    .page-main__left {
        padding-top: 54px;
        padding-left: 50px;
    }

    .page-main__headtext strong {
        font-size: 22px;
    }

    .page-main__headtext p {
        font-size: 16px;

    }


    .page-main__title {
        margin-bottom: 35px;
        font-size: 28px;

    }

    .page-main__confirmation h2 {
        margin-bottom: 20px;
        font-size: 18px;

    }

    .page-main__list {
        margin-bottom: 35px;
    }

    .page-main__reception {
        max-width: 309px;
        height: 71px;
        padding: 12px 24px;

    }

    .page-main__reception  span {
        font-size: 16px;
    }



    .page-main__info strong {
        font-size: 18px;

    }

    .page-main__info p {
        font-size: 16px;

    }

}




@media only screen and (max-width: 1150px) {
    .container {
        max-width: 1240px;
    }

    .page-main__left {
        padding-top: 54px;
        padding-left: 50px;
    }

    .page-main__header {
        display: flex;
        align-items: center;
         margin-bottom: 35px;
    }

    .page-main__headtext strong {
        font-size: 16px;
    }

    .page-main__headtext p {
        font-size: 14px;

    }


    .page-main__title {
        margin-bottom: 25px;
        font-size: 24px;

    }

    .page-main__confirmation h2 {
        margin-bottom: 20px;
        font-size: 18px;

    }

    .page-main__list {
        margin-bottom: 25px;
    }

    .page-main__reception {
        max-width: 289px;
        height: 71px;
        padding: 10px 22px;

    }

    .page-main__reception  span {
        font-size: 16px;
    }


    .page-main__info strong {
        font-size: 18px;

    }

    .page-main__info p {
        font-size: 16px;

    }

}



@media only screen and (max-width: 1120px) {
    .container {
        max-width: 1240px;
    }

    .page-main__left {
        padding-top: 54px;
        padding-left: 50px;
    }

    .page-main__header {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }

    .page-main__headtext strong {
        font-size: 18px;
    }

    .page-main__headtext p {
        font-size: 14px;

    }


    .page-main__title {
        margin-bottom: 25px;
        font-size: 24px;

    }

    .page-main__confirmation h2 {
        margin-bottom: 20px;
        font-size: 18px;

    }

    .page-main__list {
        margin-bottom: 25px;
    }

    .page-main__reception {
        max-width: 289px;
        height: 71px;
        padding: 10px 22px;

    }

    .page-main__reception  span {
        font-size: 16px;
    }

    .page-main__info strong {
        font-size: 18px;

    }

    .page-main__info p {
        font-size: 16px;

    }

}

@media  only screen and (max-width: 1100px) {
    body {
        background-size: contain;
        background-position: center top;
    }
}


@media only screen and (max-width: 1040px) {
      .container {
          max-width: 1100px;
      }

    .page-main__left {
        padding-top: 34px;
        padding-left: 30px;
    }

    .page-main__header {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .page-main__headtext strong {
        font-size: 18px;
    }

    .page-main__headtext p {
        font-size: 14px;

    }


    .page-main__title {
        margin-bottom: 20px;
        font-size: 24px;

    }

    .page-main__confirmation h2 {
        margin-bottom: 20px;
        font-size: 18px;

    }

    .page-main__list {
        margin-bottom: 20px;
    }

    .page-main__reception {
        max-width: 259px;
        height: 61px;
        padding: 10px 18px;

    }

    .page-main__reception  span {
        font-size: 16px;
    }

    .page-main__info strong {
        font-size: 18px;

    }

    .page-main__info p {
        font-size: 16px;

    }
}


@media only screen and (max-width: 995px) {
    .page-main__webtime {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 235px;
        padding: 8px 15px;
        margin-right: 20px;
        border-radius: 50px;
        background-color: #7019ff;
    }

    .page-main__day {
        margin-left: 12px;
        margin-right: 12px;
    }


    .page-main__line {
        flex-shrink: 0;
        height: 21px;
        width: 1px;
        background-color:rgba(255, 255, 255, 0.20);
        margin-right: 12px;
    }

    .page-main__day, .page-main__clock {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
    }


    .page-main__item p {
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
    }

}

@media  only screen and (max-width: 970px) {
    body {
        background-image: none;
    }

    .page-main__inner {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .page-main__left {
        width: 100%;
        height: 100%;
    }
    .page-main__right {
        display: block;
    }

    .page-main__header {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .page-main__left {
        padding: 0;
        padding-top: 30px;
    }

    .page-main__webtime {
        max-width: 100%;
        justify-content: center;
        flex-grow: 1;
        padding: 10px 20px;
        margin-bottom: 15px;
    }
    .page-main__day, .page-main__clock {
        font-size: 18px;

    }


    .page-main__headtext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-main__headtext strong {
       text-align: center;
        font-size: 28px;
    }

    .page-main__headtext p {
        text-align: center;
        font-size: 20px;
    }

    .page-main__title {
        text-align: center;
        font-size: 32px;
        white-space: nowrap;
    }

    .page-main__confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-main__list {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;

    }

    .page-main__item {
        width: 100%;
    }

    .page-main__item p {
        font-size: 20px;

    }

    .page-main__reception {
        max-width: 100%;
        height: 61px;
        padding: 10px 18px;

    }
    .page-main__reception {
        font-size: 20px;
    }


}



@media  only screen and (max-width: 600px) {
    body {
        background-image: none;
    }

    .page-main__inner {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .page-main__left {
        width: 100%;
    }

    .page-main__header {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .page-main__left {
        padding: 0;
        padding-top: 30px;
    }

    .page-main__webtime {
        width: 100%;
        max-width: 260px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px 20px;
        margin-bottom: 15px;
    }
    .page-main__day, .page-main__clock {
        font-size: 18px;

    }


    .page-main__headtext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-main__headtext strong {
        text-align: center;
        font-size: 18px;
    }

    .page-main__headtext p {
        text-align: center;
        font-size: 16px;
    }

    .page-main__title {
        text-align: center;
        font-size: 24px;
         white-space: nowrap;
    }

    .page-main__confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-main__confirmation h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .page-main__list {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;

    }

    .page-main__item {
        width: 100%;
        align-items: flex-start;
    }

    .page-main__item img {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }

    .page-main__item p {
        font-size: 14px;
        white-space: nowrap;

    }

    .page-main__reception {
        max-width: 100%;
        height: 76px;
        padding: 25px;

    }
    .page-main__reception {
        font-size: 20px;
    }


}


@media  only screen and (max-width: 430px) {
    .page-main__item p {
        font-size: 13px;
        white-space: nowrap;

    }
}


@media  only screen and (max-width: 420px) {
    .page-main__item p {
        font-size: 12px;
        white-space: nowrap;

    }
}


@media  only screen and (max-width: 386px) {
    .page-main__title {
        white-space: normal;
    }

    .page-main__item p {
        font-size: 12px;
        white-space: normal;

    }
}

@media only screen and (max-width: 540px) {
    .modal-container__content h2 {
        font-size: 24px;
    }

    .modal-container__content p {
        font-size: 14px;
    }
}






@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
       body {
           background-image: url("../img/main@2x.png");
       }


}

















